<ac-loading *ngIf="isLoading$ | async"></ac-loading>
<ac-error-message *ngIf="error$ | async"></ac-error-message>

<section *ngIf="article">
  <div class="bg-neutral-800 p-10">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl font-bold text-white break-all">
        {{ article.title }}
      </h1>
      <div class="flex items-center mt-5">
        <div>
          <img
            *ngIf="article.author.image"
            [routerLink]="['/profiles', article.author.username]"
            [ngSrc]="article.author.image"
            alt=""
            width="32"
            height="32"
            class="rounded-full"
          />
        </div>
        <div class="flex ml-2 flex-col">
          <a
            [routerLink]="['/profiles', article.author.username]"
            class="text-white"
          >
            {{ article.author.username }}
          </a>
          <span class="text-xs text-gray-500">
            {{ article.createdAt | date }}
          </span>
        </div>
        <div
          *ngIf="isAuthor$ | async; else notAuthorAction"
          class="ml-2"
        >
          <a
            [routerLink]="['/articles', article.slug, 'edit']"
            class="text-white border border-white p-2 rounded-md"
          >
            Edit Article
          </a>
          <button
            class="text-red-700 border border-red-700 p-2 rounded-md ml-2 my-0"
            (click)="deleteArticle()"
          >
            delete
          </button>
        </div>
        <ng-template #notAuthorAction>
          <div class="ml-5">
            <ac-follow
              [slug]="article.author.username"
              [isFollowing]="article.author.following"
            ></ac-follow>
          </div>
          <div class="ml-2">
            <ac-add-to-favorite
              [articleSlug]="article.slug"
              [favoritesCount]="article.favoritesCount"
              [isFavorite]="article.favorited"
            ></ac-add-to-favorite>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="max-w-4xl mx-auto mt-5">
    <p
      class="text-gray-500 break-all markdown"
      [innerHTML]="article.body | markdown"
    ></p>
    <div class="mt-8">
      <ac-tag-list [tags]="article.tagList"></ac-tag-list>
    </div>
  </div>
  <div class="max-w-xl mx-auto mt-5">
    <ac-article-create-comment
      [articleSlug]="article.slug"
    ></ac-article-create-comment>
    <div class="mt-5">
      <ac-article-comments [slug]="article.slug"></ac-article-comments>
    </div>
  </div>
</section>
