<ac-backend-error-messages
  *ngIf="validationErrors$ | async"
  [backendErrors]="validationErrors$ | async"
></ac-backend-error-messages>
<form
  [formGroup]="form"
  class="p-2 border border-gray-400 flex flex-col"
  (ngSubmit)="onSubmit()"
>
  <textarea
    cols="3"
    class="p-2 outline-none"
    placeholder="Write a comment..."
    formControlName="body"
  ></textarea>
  <button
    class="p-1 text-sm leading-5 bg-green-500 rounded-md text-white"
    [disabled]="isSubmitting$ | async"
  >
    Post comment
  </button>
</form>
